<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/basic.html}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="/static/css/styles.css" rel="stylesheet">
</head>

<body>
  <div layout:fragment="content">

  </div>
  <div class="container py-5 my-5">
    <form>
      <div class="container w-50">
        <h1 class="py-5">회원가입</h1>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">아이디</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">비밀번호</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword2" class="form-label">비밀번호 확인</label>
          <input type="password" class="form-control" id="exampleInputPassword2">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">기억하기</label>
        </div>
        <button type="submit" class="btn btn-primary">회원가입</button>
      </div>
    </form>
  </div>
</body>
</html>