<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content"></div>
    <div class="container">
        <tr th:each="menu : ${items}">
            <td th:text="${menu.itemName}"></td>
            <td th:text="${menu.itemPrice}"></td>
        </tr>
    </div>
</body>
</html>